<ion-view view-title="Food List">
  <ion-content>
     
    <div class="row">
      <div class="col col-75">
        <input type="text" ng-model="NewFood.task" placeholder="What needs to be done?"> 
      </div>
      <div class="col text-right"> 
        <button class="button button-energized" ng-click="addFood()">Add</button>
         <button class="button button-assertive" ng-click="removeFood()"><i class="icon ion-close-round"></i>
        </button>
      </div>
    </div>
    <div class="list">
        <ion-checkbox class="item item-button-right" class="checked" ng-repeat="food in foods" ng-model="item.checked" ng-checked="item.checked" ng-change="checkedState($index)">
            {{food.task}}
        </ion-checkbox>
       
      </div>
    </div>
  </ion-content>
</ion-view>
