<ion-view view-title="New Jobs">
  <ion-content>
    <div class="row">
      <div class="col col-75">
        <input type="text" ng-model="NewJob.task" placeholder="What needs to be done?"> 
      </div>
      <div class="col text-right">
        <button class="button button-energized" ng-click="addJobs()">Add</button>
           <button class="button button-assertive" ng-click="removeJobs($index)"><i class="icon ion-close-round"></i>
          </button>
      </div>
    </div>
    <div class="list">
        <ion-checkbox class="item item-button-right" ng-repeat="job in jobs" ng-model="item.checked" ng-checked="item.checked"ng-change="checkedState($index)">
        {{job.task}}
        </ion-checkbox>
      </div>
    </div>
  </ion-content>
</ion-view>